* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

h2 {
    margin: 20px 0;
}

.authContainer {
    border: 1px solid lightgrey;
    margin: 20px 0;
    background: white;
    padding: 20px 30px 40px 30px;
    max-width: 400px;
    width: 100%;
}

.authContainer button[type="submit"] {
    margin-top: 30px;
}

.toggleButtonsContainer {
    border: 1px solid lightgrey;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    overflow: hidden;
}

.toggleButtonsContainer button {
    margin: 0;
    width: 50%;
}

.toggleButtonsContainer button:not(.active) {
    background: white;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.inputContainer {
    display: flex;
    position: relative;
}

.inputContainer button,
.inputContainer button:hover {
    background: none;
    position: absolute;
    right: 10px;
    min-width: auto;
}

input,
select,
button {
    margin: 5px 0;
    font-size: 16px;
    border-radius: 10px;
    height: 45px;
}

input,
select {
    width: 100%;
    border: 1px solid lightgrey;
    padding: 0 10px;
}

button {
    background: #007BFF;
    color: #FFFFFF;
    border: none;
    min-width: 145px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease;
}

button:hover {
    background: #0056b3;
    cursor: pointer;
}

#bingo-board {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
}

.bingo-row {
    display: flex;
    justify-content: center;
}

.bingo-row:last-of-type .bingo-cell {
    border-bottom: 1px solid black;
}

.bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 130px;
    width: 100%;
    height: 140px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
}

.bingo-cell:first-of-type {
    border-left: 1px solid black;
}

.bingo-cell.free-space {
    text-transform: uppercase;
}

/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black background with opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}